In [94]:
import numpy as np
import pandas as pd

# Why linear approximation function is a decent substitute for a function(x) at a particular point?(compares the function f(x) with the approximation of its linear function l(x) around a point a)

for very small x ln(1+x) ~ x

In [95]:
def lin_approx(f,df,a):
    def l(x) :
        return  f(a)+ (df(a)*(x-a))
    return l    

f = lambda x: np.log(1 + x)
df = lambda x: 1/(1+x)
a=1

L= lin_approx(f,df,a)

r= [0.99,1,1.001,1.01,1.05,2,3,4,4.0001,4.001,4.01,4.02,4.04,5]

results= pd.DataFrame({'x': r,'ln(1+x)':[f(x) for x in r],'l(x)':[L(x) for x in r]})
results['Error'] = (results['ln(1+x)'] - results['l(x)']).round(5)
results

         x   ln(1+x)      l(x)    Error
0   0.9900  0.688135  0.688147 -0.00001
1   1.0000  0.693147  0.693147  0.00000
2   1.0010  0.693647  0.693647 -0.00000
3   1.0100  0.698135  0.698147 -0.00001
4   1.0500  0.717840  0.718147 -0.00031
5   2.0000  1.098612  1.193147 -0.09453
6   3.0000  1.386294  1.693147 -0.30685
7   4.0000  1.609438  2.193147 -0.58371
8   4.0001  1.609458  2.193197 -0.58374
9   4.0010  1.609638  2.193647 -0.58401
10  4.0100  1.611436  2.198147 -0.58671
11  4.0200  1.613430  2.203147 -0.58972
12  4.0400  1.617406  2.213147 -0.59574
13  5.0000  1.791759  2.693147 -0.90139

In [96]:
v = [0,0.001,0.002,0.005,0.001,0.0008985]
df = pd.DataFrame({'x' : v})
df['ln(1+x)'] = np.log(1 + df['x'])
df['ln(1+x)'] = np.log(1 + df['x'])
df

          x   ln(1+x)
0  0.000000  0.000000
1  0.001000  0.001000
2  0.002000  0.001998
3  0.005000  0.004988
4  0.001000  0.001000
5  0.000898  0.000898